body {
	background-image: url('../Assets/img/O81G5F0.jpg');
	background-size: inherit;
}

.row {
	max-width: 100%
}

#header-container {
	background-color: white;
	margin-top: 20px;
}

#header-container img {
	width: 200px;
	max-width: 80%;
}

#header-container h2 {
	margin-top: 10px;
	font-size: 40px;
	font-family: 'Six Caps', sans-serif;
	line-height: 1;
	color: #E77626;
}

#medios-container-small {
	border-radius: 5px;
	background-color: #E77626;
	width: 70%;
	margin-top: 10px;
	margin-bottom: 20px;

}

#medios-container-small img {
	max-width: 8%;
	margin: 0px 10px 10px 5px;
}

#medios-container-small h3 {
	font-family: 'Abel', sans-serif;
	color: white;

}

#texto-container {
	width: 80%;
}

#texto-container p {
	font-family: 'Abel', sans-serif;
	color: white;
	font-size: 20px;

}

#formulario-section {
	width: 70%;
	border-radius: 10px;
	background-color: rgba(255,255,255,.2);
	padding: 20px 10px 20px 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#call-to-action-form h2 {
	font-family: 'Six Caps', sans-serif;
	line-height: 1;
	color: #E77626;
	font-size: 40px;
	margin-bottom: 20px;
}

.button {
	width: 100%;
	
}

[type='checkbox'] + label[for], [type='radio'] + label[for] {
	margin-bottom: 10px;
}